@media (max-width:1048px){
    .logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
    margin-right:17px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width:909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d08c60;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .7s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 30px;
    }
    a.active, a:hover{
        border: none;
        color: #90e0ef;
    }
    nav ul.show{
        left: 0;
    }
}
